 
    body{
        color: rgb(0, 0, 0);
        border: 2px;
        border-color: rgb(3, 19, 0);
        border-style: double;
        background: linear-gradient(to bottom, #8d60ff 0%, #ff8fc7 100%);
    }
    /* Custom styles */
    .container {
      margin-top: 50px;
    }

    .navbar {
      background-color: #343a40; /* Dark background color for navbar */
    }

    .navbar-brand {
      font-weight: bold;
      color: #ffffff !important; /* Change navbar brand color to white */
    }

    .navbar-nav .nav-item .nav-link {
      color: #ffffff !important; /* Change navbar links color to white */
    }

    .navbar-nav .nav-item .nav-link:hover {
      color: #59ff30 !important; /* Change navbar links color on hover */
    }
    .navbar-brand {
      font-weight: bold;
      color: #ffffff !important; /* Change navbar brand color to white */
    }

    .navbar-nav .nav-item .nav-link {
      color: #f6f6f6 !important; /* Change navbar links color to white */
    }

    .navbar {
      background-color: #343a40; /* Dark background color for navbar */
    }
    .nav-link:hover {
      background: linear-gradient(to bottom, #8d60ff 0%, #ff8fc7 100%);
    }

    /* Icon styles */
    .icon {
      margin-right: 5px; /* Add space between icon and text */
    }
    #accountIcon {
      position: fixed;
      top: 20px;
      left: 20px;
      z-index: 1000;
      cursor: pointer;
      font-size: 30px;
      color: #ffffff; /* Change icon color as needed */
    }
    
/* Styling for user details card */
#userDetails {
  position: fixed;
  top: 60px; /* Adjust distance from top as needed */
  left: 20px;
  z-index: 900;
  display: none;
  width: 300px; /* Adjust card width as needed */
  background-color: #dddddd;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 50%; /* Make it circular */
  }
  
  #userDetails p {
  margin: 10px 0;
  }
  
  
  /* Styling for user details text */
  #userDetailsText{
    font-size: 30px;
  }
  